.messageWrap {
  background: #f5f5f5;
}
.messageInner {
  margin-left: 15px;
}

.message {
  &_imgWrap {
    display: none;
    width: 100px;
    animation: sort_clear 0.5s ease -0.3s 1 normal;
    & .is-selected {
      display: flex;
      margin: 0 0.5% 1%;
      animation: sort_selected 0.5s ease -0.1s 1 forwards;
    }
  }
  &_imgWrap {
    margin-bottom: 8px;
  }
  &_radio[type="radio"] {
    display: none;
    &:checked {
      & + .message_innerImg {
        position: relative;
        width: 100px;
        &::after {
          position: absolute;
          right: 6px;
          bottom: 6px;
          display: inline-block;
          width: 20px;
          height: 20px;
          content: "";
          background-image: url(../img/step_checked.png);
          background-size: contain;
        }
        .message_img {
          box-sizing: border-box;
          border: 1px solid #212529;
        }
      }
    }
  }
  &_img {
    width: 100px;
  }
}

.gift {
  width: 345px;
  margin: 0 0 25px;
}

.heading {
  margin-bottom: 7px;
  line-height: 1.5;
  color: #8e8e93;
  font-size: 1.4rem;
}

.cardsWrap {
  height: 218px;
  margin-bottom: 17px;
}

.cards {
  &_lists {
    margin-bottom: 12px;
    background: #f5f5f5;
  }
  &_list {
    width: 67px;
    font-size: 11px;
    line-height: 2;
    color: #f08804;
    text-align: center;
    background: #ffffff;
    border-radius: 25px;
  }
  &_radio[type="radio"] {
    display: none;
    &:checked + .cards_list {
      color: #212529;
      background: rgba(240, 136, 4, 0.3);
    }
  }
}

.textInput {
  &_item {
    display: flex;
    flex-direction: column;
  }
  &_head {
    margin-bottom: 7px;
    font-size: 1.4rem;
    line-height: 1.5;
    color: #8e8e93;
    &::after {
      color: #e65441;
      content: "*";
    }
  }
  &_textArea {
    width: 321px;
    height: 130px;
    padding: 12px;
    margin-bottom: 25px;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
  }
  &_sign {
    padding: 15px 0 15px 12px;
    margin-bottom: 90px;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
  }
}
