.search {
  padding: 16px 0 16px 16px;
  margin-bottom: 30px;
  background: #fcfcfc;
  &:last-of-type {
    margin-bottom: 60px;
  }
  &_title {
    margin-bottom: 8px;
    font-size: 1.4rem;
    font-weight: bold;
  }
}

.list {
  position: relative;
  display: flex;
  width: 90px;
  height: 90px;
  background-size: contain;
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 90px;
    height: 90px;
    content: "";
    background-color: rgba(33, 37, 41, 0.6);
  }

  &:not(:last-child) {
    margin-right: 10px;
  }
  &_cover {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: #fff;
    white-space: nowrap;
  }
  &_link {
    display: flex;
    width: 90px;
    height: 90px;
  }
  &_drink {
    background-image: url(../img/category_drink.png);
    background-repeat: no-repeat;
  }
  &_food {
    background-image: url(../img/category_food.png);
    background-repeat: no-repeat;
  }
  &_shop {
    background-image: url(../img/category_shop.png);
    background-repeat: no-repeat;
  }
  &_webService {
    background-image: url(../img/category_webService.png);
    background-repeat: no-repeat;
  }
}
