.title {
  padding: 15px 0;
  background: #f8f8f8;
  &_head {
    position: relative;
    font-size: 1.8rem;
    text-align: center;
    &::after {
      position: absolute;
      top: -5px;
      right: 10px;
      display: inline-block;
      width: 28px;
      height: 28px;
      content: "";
      background-image: url(../img/search.png);
      background-size: contain;
    }
  }
}

.back {
  position: relative;
  &::before {
    position: absolute;
    left: 5px;
    display: inline-block;
    width: 24px;
    height: 21px;
    vertical-align: middle;
    content: "";
    background-image: url(../img/icon_back.png);
    background-repeat: no-repeat;
    background-size: contain;
  }
}
