.title{
  padding:15px 0;
  background: #F8F8F8;
  &_head{
    font-size: 1.8rem;
    text-align: center;
    position: relative;
    &::after{
      content: '';
      display: inline-block;
      width:28px;
      height:28px;
      background-image: url(../img/search.jpg);
      background-size: contain;
      position: absolute;
      right: 0;
      top: -5px; 
    }
  }
}